*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  width: 300px;
  /* height: 300px; */
  background: white;
  font-family: 'Quicksand', trebuchet ms;
  transition: height 0.3s;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  position: absolute;
  max-width: 100px;
  height: 100px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px 5px;
  background-color: #6773dd;
}

.popup__title {
  margin-bottom: 10px;
  font-size: 5vw;
  color: #fff;
  text-transform: uppercase;
}

.popup__subtitle {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 3vw;
  color: lightgray;
}

.popup__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto 30px;
}

.form__label:nth-child(5) {
  width: 100%;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 47%;
  text-align: center;
  color: #fff;
}

.form__input {
  position: relative;
  margin-top: 5px;
  padding: 10px 15px;
  text-align: center;
  font-size: 4vw;
  border: none;
  background-color: #fff;
  outline: none;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input-select {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

#selectConfig {
  z-index: 2;
}

.select-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 25px;
  z-index: 1;
}

.select-wrapper-selectConfig {
  top: 15px;
  width: 100%;
}

.select-wrapper::after {
  content: '';
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 2px;
  right: 15px;
  transform: rotate(180deg);
  cursor: pointer;
  user-select: none;
}

.popup__form:nth-child(5) {
  width: 100%;
}

.popup__action {
  border: none;
  padding: 0 30px 5px;
  font-size: 6vw;
  font-weight: 900;
  font-style: italic;
  color: #f2645e;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: transform 0.1s ease-in;
}

.popup__action:hover {
  transform: scale(1.1);
}

.popup__action:active {
  transform: scale(0.9);
}

.popup__logo {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.popup__img-wrapper {
  width: 60px;
  height: 65px;
}

.popup__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__logo:after {
  content: 'IP';
  color: #f2645e;
}

.form__switch {
  position: relative;
  top: 13px;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 auto;
}

.form__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__status {
  font-size: 3.5vw;
  position: absolute;
  top: 100%;
  left: -30px;
  right: 0;
  color: #fff;
  transform: translate(0, 50%);
  white-space: nowrap;
  font-weight: 500;
}

.form__slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__switch-input:checked + .form__slider {
  background-color: #f2645e;
}

.form__switch-input:focus + .form__slider {
  box-shadow: 0 0 1px #f2645e;
}

.form__switch-input:checked + .form__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.form__slider.round {
  border-radius: 34px;
}

.form__slider.round:before {
  border-radius: 50%;
}
